body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero-background {
    background-image: url(../img/main.jpg);
    min-height: 100vh;
}
    .hero-content {
        display: inline-block;
        width: 500px;
        margin: 40px calc((100% - 500px) / 2) 20px;
        text-align: center;
    }
        #hero .hero-content > * {
            width: 100%;
        }
        #hero .logo {
            background-image: url(../img/logo.png);
            height: 60px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            display: inline-block;
            margin-top: 85px;
        }
        #hero h1 {
            text-transform: uppercase;
            margin: 40px 0 20px;
            font-size: 49px;
            line-height: 50px;
            display: inline-block;
        }
        #hero p {
            margin: 0 0 20px;
            font-size: 16px;
            line-height: 20px;
            color: #777;
            display: inline-block;
        }
        #clockdiv{
            font-family: sans-serif;
            color: #fff;
            display: inline-block;
            font-weight: 100;
            text-align: center;
            font-size: 45px;
            font-weight: bold;
        }
            #clockdiv > div{
                padding: 5px;
                display: inline-block;
            }
            #clockdiv div > span{
                padding: 10px;
                display: inline-block;
                font-size: 55px;
            }
        .smalltext{
            padding: 7px 15px 7px 15px;
            font-size: 19px;
            text-transform: uppercase;
        }
        #hero .form {
            margin-top: 45px;
        }
            #hero .form > input {
                width: 90%;
                margin-bottom: 40px;
                border: none;
                border-bottom: 1px solid white;
                background: transparent;
                padding: 10px 0;
                font-size: 20px;
                line-height: 20px;
                color: white;
             }
            #hero .form > input:focus {
                outline: none;
                border-bottom: 3px solid white;
            }  
            #hero .form > input.visited {
                outline: none;
                border-bottom: 3px solid #F44336;
            }
            #hero .form > input::placeholder {
                color: white;
            }
            .scroll-downs {
                position: absolute;
                top: 80%;
                right: 0;
                bottom: 0;
                left: 0;
                margin: 0 auto;
                width :34px;
                height: 55px;
              }
              .mousey {
                width: 3px;
                padding: 10px 15px;
                height: 35px;
                border: 2px solid #fff;
                border-radius: 25px;
                opacity: 0.75;
                box-sizing: content-box;
                margin: 0 auto;
              }
              .scroller {
                width: 3px;
                height: 10px;
                border-radius: 25%;
                background-color: #fff;
                animation-name: scroll;
                animation-duration: 2.2s;
                animation-timing-function: cubic-bezier(.15,.41,.69,.94);
                animation-iteration-count: infinite;
              }
              @keyframes scroll {
                0% { opacity: 0; }
                10% { transform: translateY(0); opacity: 1; }
                100% { transform: translateY(15px); opacity: 0;}
              }
              @media ( max-width: 640px ) {
                .hero-content {
                    width: 100%;
                    margin: 40px 0 20px;
                    padding: 0 20px;
                }
            }
            @media ( max-width: 480px ) {
                #hero .clock {
                    margin-top: 0;
                }
                #hero .clock > .clock-block {
                    width: 50%;
                    margin-top: 40px;
                }
            }
.btn {
    background-color: #EA1E63;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    box-shadow: -1px 3px 4px rgba(0,0,0,0.2); /* 1 nurodo i kaire ar desine, antras virsus apacia, trecias bluras, jei norime daugiau seseliu tai is esmes padedam kableli ir vel skaiciu rasom: -1px 3px 4px rgba(0,0,0,0.2), -1px 3px 4px rgba(0,0,0,0.2) */
    border: 1px solid #EA1E99;
    border-radius: 1px;
}
.btn:hover {
    background-color: rgb(161, 73, 103);
    cursor: pointer;
}
#content {
    display: inline-block;
    width: 100%;
    min-height: 70vh;
}
    #content .container {
        display: inline-block;
        width: 1000px;
        margin: 20px calc((100% - 1000px) / 2) 20px;
    }
        #content .container > .left {
            display: inline-block;
            float: left;
            width: 50%;
        }
        #content .container > .right {
            display: inline-block;
            float: left;
            width: 50%;
            padding-left: 10%;
        }
        #form-message {
            width: 100%;
            display: inline-block;
        }
        #form-message > .pirma {
            display: inline-block;
            width: 100%;
        }   
        #form-message > .pirma > div > input {
            margin-bottom: 20px;
            border: none;
            border-bottom: 1px solid #999;
            background: transparent;
            font-size: 15px;
            line-height: 35px;
            color: black;
            display: inline-block; 
            float: left;
            padding: 5px 0px 5px 10px;
            width: 100%;
        }
        #form-message > .pirma > div > input::placeholder {
            color: #999;
        }
        .input-left {
            float: left;
            width: 45%;
            display: inline-block;
        }
            #form-message > .pirma > .input-left > input:focus {
                border-bottom: 3px solid #03A9F4;  
                outline: none;
            }
            #form-message > .pirma > .input-left > input.visited {
                border-bottom: 3px solid #4CAF50;  
                outline: none;
            }
        .input-right {
            float: right;
            width: 45%;
            display: inline-block;
        }
            #form-message > .pirma > .input-right > input:focus {
                border-bottom: 3px solid #03A9F4;  
                outline: none;
            }
            #form-message > .pirma > .input-right > input.visited {
            border-bottom: 3px solid #F44336;  
            outline: none;
            }
        #form-message > .antra > input {
            width: 100%;
            margin-bottom: 40px;
            border: none;
            border-bottom: 1px solid #999;
            background: transparent;
            padding: 10px 0;
            font-size: 15px;
            line-height: 45px;
            color: #999;
            display: inline-block; 
            float: left;
        }
            #form-message > .antra > input:focus {
                border-bottom: 3px solid #03A9F4;  
                outline: none;
            }
            #form-message > .antra input.visited {
                border-bottom: 1px solid #999;  
                outline: none;
            }
        #form-message input::placeholder {
            color: #999;
        }
        #form-message input:focus {
            outline: none;
        }
        #content .container > .right > #form-message > .btn {
            float: right;
        }
        #content .container h3{
            font-size: 25px;
            line-height: 25px;
            padding: 5px;
            margin: 45px 0 20px 0;
            text-transform: uppercase;
        }
        #content .container p{
            font-size: 15px;
            line-height: 25px;
            padding: 5px;
            margin-bottom: 30px;
        }
        .raudona {
            color: red;
        }
        @media ( max-width: 900px ) {
            #content .container {
                width: 540px;
                margin: 40px calc( (100% - 540px) / 2 ) 20px;
            }
        }
        @media ( max-width: 640px ) {
            #content .container {
                width: 100%;
                margin: 40px 0 20px;
            }
                #content .container > .left {
                    width: 100%;
                    padding: 0 40px;
                }
                #content .container > .right {
                    width: 100%;
                    padding-left: 0%;
                    padding: 40px;
                }
        }
footer {
    background-color: #03A9F4;
    text-align: center;
    min-height: 20vh;
}
    footer > .social {
        display: inline-block;
        width: 1000px;
        margin: 20px calc((100% - 1000px) / 2);
        border-bottom: 1px solid white;
        padding-bottom: 20px;
        position: relative;
    }
        .fa {
            padding: 20px;
            font-size: 30px;
            width: 30px;
            text-align: center;
            text-decoration: none;
            border-radius: 50%;
        }
        i.material-icons {
            font-size: 20px;
        }
        footer > div > a > i:hover {
            background: rgba(255,255,255,1);
            animation: spinAround 2s linear infinite;
        }
        @keyframes spinAround {
            from {
                transform: rotate(0deg)
            }
            to {
                transform: rotate(360deg);
            }
        }
    footer > .legal-shit {
        display: inline-block;
        width: 1000px;
        margin: 0 calc((100% - 1000px) / 2) 20px;
    }
    footer > .social > .back-to-top {
        font-size: 30px;
        width: 40px;
        height: 40px;
        padding: 0;
        line-height: 35px;
        color: #FFF;
        text-decoration: none;
        background-color: #EA1D62;
        border-radius: 50%;
        position: absolute;
        top: -40px;
        right: -20px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    }
    @media ( max-width: 900px ) {
        footer > .social {
            width: 540px;
            margin: 20px calc( (100% - 540px) / 2 );
        }
        footer > .legal-shit {
            width: 540px;
            margin: 0 calc( (100% - 540px) / 2 ) 40px;
        }
    }
    @media ( max-width: 640px ) {
        footer > .social {
            width: 100%;
            margin: 20px 0;
        }
        footer > .legal-shit {
            width: 100%;
            margin: 0 0 40px;
        }
        footer > .social > .back-to-top {
            display: none;
        }
    }